@model IEnumerable<Faps.Models.Vagas>

@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin_home</title>
</head>
<body>
    <p>
        <a href="@Url.Action("Cadastrar_vaga", "Admin")" class="btn btn-default">Cadastrar uma vaga</a>
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vaga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vaga_descricao)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Vaga)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vaga_descricao)
                </td>
                <td>
                    @Html.ActionLink("Ver Candidaturas", "Ver_candidaturas", new { id = item.Codigo_vaga }) |
                    @Html.ActionLink("Alterar vaga", "Details", new { id = item.Codigo_vaga }) |
                    @Html.ActionLink("Deletar Vaga", "Deletar_vaga", new { id = item.Codigo_vaga })
                </td>
            </tr>
        }

    </table>
</body>
</html>
