@model IEnumerable<Faps.Models.Candidaturas>

@{
    ViewBag.Title = "Ver_candidaturas";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<h2>Ver candidaturas para a vaga de @ViewBag.NomeVaga</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Status_candidatura)
        </th>
        <th>
            @Html.DisplayName("Nome do Candidato")

        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Status_candidatura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuarios.Usuario)
        </td>
        <td>
            @Html.ActionLink("Analisar Curriculo", "Analisar_curriculo", new { id_candidato=item.Codigo_user }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Descartar Candidatura", "Deletar_candidatura", new { id_candidatura=item.Codigo_Candidatura }, new { @class = "btn btn-danger delete" })
        </td>
    </tr>
}

</table>
