@model IEnumerable<Faps.Models.Candidaturas>

@{
    ViewBag.Title = "Ver_candidaturas";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<h2>Ver_candidaturas</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo_vaga)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status_candidatura)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo_vaga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status_candidatura)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Codigo_candidatura }) |
            @Html.ActionLink("Details", "Details", new { id=item.Codigo_candidatura }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Codigo_candidatura })
        </td>
    </tr>
}

</table>
