@model IEnumerable<Faps.Models.Curriculo>
@{
    ViewBag.Title = "Listar_curriculo_user";
    Layout = "~/Views/Shared/_Layout_user.cshtml";

}

@Styles.Render("~/Content/themes/base/jquery-ui.css")
@Scripts.Render("~/Scripts/jquery-3.5.1.js")
@Scripts.Render("~/Scripts/jquery-ui.js")



<h4>Visualizar Curriculo</h4>
<br />
@foreach (var item in Model)
{

    @Html.DisplayNameFor(model => model.Nome)
    <br />
    @Html.DisplayFor(modelItem => item.Nome)

    <br />

    @Html.DisplayNameFor(model => model.SobreNome)
    <br />
    @Html.DisplayFor(modelItem => item.SobreNome)

    <br />


    @Html.DisplayNameFor(model => model.Email)
    <br />
    @Html.DisplayFor(modelItem => item.Email)

    <br />


    @Html.DisplayNameFor(model => model.Telefone)
    <br />
    @Html.DisplayFor(modelItem => item.Telefone)

    <br />


    @Html.DisplayNameFor(model => model.Genero)
    <br />
    @Html.DisplayFor(modelItem => item.Genero)

    <br />


    @Html.DisplayNameFor(model => model.DataNascimento)
    <br />
    @Html.DisplayFor(modelItem => item.DataNascimento)


    <br />

    @Html.DisplayNameFor(model => model.Endereco)
    <br />
    @Html.DisplayFor(modelItem => item.Endereco)


    <br />

    @Html.DisplayNameFor(model => model.Cidade)
    <br />
    @Html.DisplayFor(modelItem => item.Cidade)

    <br />

    @Html.DisplayNameFor(model => model.Estado)
    <br />
    @Html.DisplayFor(modelItem => item.Estado)

    <br />


    @Html.DisplayNameFor(model => model.CEP)
    <br />
    @Html.DisplayFor(modelItem => item.CEP)

    <br />

    @Html.DisplayNameFor(model => model.Pais)
    <br />
    @Html.DisplayFor(modelItem => item.Pais)

    <br />

    @Html.DisplayNameFor(model => model.Curso)
    <br />
    @Html.DisplayFor(modelItem => item.Curso)

    <br />

    @Html.DisplayNameFor(model => model.Curso_status)
    <br />
    @Html.DisplayFor(modelItem => item.Curso_status)

    <br />

    @Html.DisplayNameFor(model => model.TituloCargo)
    <br />
    @Html.DisplayFor(modelItem => item.TituloCargo)

    <br />


    @Html.DisplayNameFor(model => model.Empresa)
    <br />
    @Html.DisplayFor(modelItem => item.Empresa)

    <br />


    @Html.DisplayNameFor(model => model.Data_inicio)
    <br />
    @Html.DisplayFor(modelItem => item.Data_inicio)

    <br />

    @Html.DisplayNameFor(model => model.DataTermino)
    <br />
    @Html.DisplayFor(modelItem => item.DataTermino)


    <br />

    @Html.DisplayNameFor(model => model.DescricaoAtividades)
    <br />
    @Html.DisplayFor(modelItem => item.DescricaoAtividades)
    <br />
    <br />
    <img src="~/imagesDB/@item.imageUrl" width="100" height="100" />
    <br />
    <br />
    <button class="btn btn-warning" onClick="Editar_curriculo(@item.codigo_curriculo)">Editar Curriculo</button>
    <button class="btn btn-info" onClick="Upload_imagem()">Colocar imagem no curriculo</button>
}




<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Editar Curriculo</h3>
            </div>
            <div class="modal-body" id="myModalBodyDiv">
                hjhgjhg
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="EnviarFoto">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Enviar foto para o curriculo</h3>
            </div>
            <div class="modal-body" id="myModalBodyDiv">
                @using (Html.BeginForm("FileUpload", "User", FormMethod.Post,
                    new { enctype = "multipart/form-data" }))
                {
                    <div>
                        Image<br />
                        <input type="file" name="file" id="file" style="width: 100%;" /> <br />
                        <input type="submit" value="Enviar imagem" class="submit" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>




<script>
    var Upload_imagem = function () {

        $("#EnviarFoto").modal("show");

    }


    var Editar_curriculo = function (codigo_curriculo) {

        var url = "/User/Editar_curriculo?id=" + codigo_curriculo;

        $("#myModalBodyDiv").load(url, function () {
            $("#myModal").modal("show");
        })
    }

</script>