@model IEnumerable<Faps.Models.Vagas>

@{
    Layout = "~/Views/Shared/_Layout_user.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>home</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vaga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vaga_descricao)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Vaga)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vaga_descricao)
                </td>
                <td>
                    @Html.ActionLink("Candidatar-se", "Apply", new { id_vaga = item.Codigo_vaga, id_applyer = ViewBag.id_applyer },null)
                </td>
            </tr>
        }

    </table>
</body>
</html>
